.App-header {
  background-color: #282c34;
  display: flex;
  min-height: auto;
  min-width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}
